<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Post Search</title>
</head>
<body>

<h1>게시글 검색</h1>

<form th:action="@{/admin/posts/searchlist}" method="get">
    <label for="searchKeyword">검색어:</label>
    <input type="text" id="searchKeyword" name="searchKeyword">
    <button type="submit">검색</button>
</form>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Visit Start Date</th>
        <th>Visit End Date</th>
        <th>Comment Count</th>
        <th>Favorite Count</th>
        <th>Block Count</th>
        <th>Member</th>
        <th>nickname</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="post : ${postPage.content}">
        <td th:text="${post.id}"></td>
        <td th:text="${post.title}"></td>
        <td th:text="${post.visitStartDate}"></td>
        <td th:text="${post.visitEndDate}"></td>
        <td th:text="${post.commentCnt}"></td>
        <td th:text="${post.favoriteCnt}"></td>
        <td th:text="${post.blockCnt}"></td>
        <td th:text="${post.member.memberProfile.name}"></td> <!-- Display member's username -->
    </tr>

    </tr>
    </tbody>
</table>

</body>
</html>
